<div>
  <div>
    <h1>
      Unit #<%= @the_unit.id %> details
    </h1>

    <div>
      <div>
        <a href="/units">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_unit/<%= @the_unit.id %>">
          Delete unit
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Unit image
      </dt>
      <dd>
        <%= image_tag(@the_unit.unit_image, alt: "Unit Image", class: "unit-image") if @the_unit.unit_image.present? %>
      </dd>
      <dt>
        City
      </dt>
      <dd>
        <%= @the_unit.city %>
      </dd>
      <dt>
        Address
      </dt>
      <dd>
        <%= @the_unit.address %>
      </dd>
      <dt>
        Unit bio
      </dt>
      <dd>
        <%= @the_unit.unit_bio %>
      </dd>
      <dt>
        Occupant
      </dt>
      <dd>
        <% if @the_unit.alum.present? %>
          <%= link_to @the_unit.alum.name, alum_path(@the_unit.alum) %>
        <% else %>
          No Occupant
        <% end %>
      </dd>
      <dt>
        Created
      </dt>
      <dd>
        <%= time_ago_in_words(@the_unit.created_at) %> ago
      </dd>

      <dt>
        Last Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_unit.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <% if @the_unit.alum == current_alum %>
  <div>
    <h2>
      Edit unit
    </h2>

    <form action="/modify_unit/<%= @the_unit.id %>" method="post">
      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city" value="<%= @the_unit.city %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_unit.address %>">
      </div>

      <div>
        <label for="unit_image_box">
          Unit image
        </label>

        <input type="text" id="unit_image_box" name="query_unit_image" value="<%= @the_unit.unit_image %>">
      </div>

      <div>
        <label for="unit_bio_box">
          Unit bio
        </label>

        <textarea id="unit_bio_box" name="query_unit_bio"><%= @the_unit.unit_bio %></textarea>
      </div>

      <button>
        Update unit
      </button>
    </form>
  </div>
<% else %>
  <p>You are not authorized to edit this unit.</p>
<% end %>

</div>
